h1{
  background: blanchedalmond;
} 
#one{
  color:white;background: #eec4dc
  } 
  #two{
    background:#e5a0c6 ;
  } 
  #three{
    background: #e27bb1;
  } 
  #four{
    background:#e2619f ;
  }
  #five{
    background: #e44b8d;
  } 
  #six{
    background: #d24787;
  } 
  #seven{
    background: #bb437e;
  }
  #eight{
    background: #a53e76
  } 
 .child1{
   background:#E1F6FF
 } 
.child2{
  background: #CDF0FF
} 
.child3{
  background: #B9EBFF
} 
.child4{
  background: #A5E5FF
} 
.child5{
  background: #55CEFF;
} 
.child6{
  background: #37C6FF
} 
.child7{
  background: #19BDFF
} 
  